h1, h2 {
  color: orange;
}

p {
<<<<<<< Updated upstream
  color: darkgreen;
=======
  color: gold
>>>>>>> Stashed changes
}
    
ul {
  border: 2px solid red;
}

ol {
  border: 2px solid red;
}

ol, ul {
  padding: 10px 30px;
  border-radius: 5px;
}
    
strong {
  color: green;
}

em {
  color: blue;
}
